<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bahiana" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link rel="stylesheet" href="/Content/css/styles.css" media="screen" title="no title">
        <script src="/Content/js/jquery-3.1.1.js" charset="utf-8"></script>
        <script src="/Content/js/scripts.js" charset="utf-8"></script>
        <title>Derp App</title>
    </head>
    <body>
        <div class="header row">
          <a href="/">
            <div class="title">
              <h1>Derp-App</h1>
              <h4>A Yelp for Derps!</h4>
              <div class="logo-object">
                <div class="plate">
                </div>
                <div class="box">
                </div>
              </div>
            </div>
          </a>
          <div class="add-button col s12">
            <div class="row">
              <button class="btn waves-effect waves-light" type="button" name="button" id="add-restaurant">Add Restaurant</button>
              <form class="" action="/delete-all" method="post">
                  <button class="disabled btn waves-effect waves-light" type="submit" name="button">Delete All</button>
              </form>
            </div>
            <div class="row">
              <div class="add-form">
                <form class="restaurant_form" action="/restaurant-add" method="post">
                    <input type="text" name="restaurant_input" placeholder="New Restaurant" required>
                    <input type="text" name="cuisine_input" placeholder="Cuisine">
                    <button class="btn waves-effect waves-light" type="submit" name="button">Add</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="body">
        <div class="row">
          <div class="col m4">
            @Html.Partial("Shared/_Cuisinebar.cshtml", @Model)
          </div>
          <div class="col m8">
            @RenderBody()
          </div>
        </div>
        <div class="row">
        </div>
      </div>
    </body>
    <footer>
      <div class="page-footer">
        <div class="container">
          <div class="row">
            <h4>Recent Reviews</h4>
              @if(Model["Reviews"].Count == 0)
              {
                <h5>There are no recent reviews</h5>
              }
              else if(Model["Reviews"].Count < 4)
              {
                foreach(var review in Model["Reviews"])
                {
                  <div class="z-depth-2 tile-box-div footer-review">
                    <p>@review.GetName()</p>
                    <p>@review.GetReview()</p>
                  </div>
                }
              }
              else
              {
                <div class="row">
                @for(var i = 0; i < 4; i++)
                {
                  <div class="z-depth-2 tile-box-div footer-review">
                    <p>@Model["Reviews"][i].GetName()</p>
                    <p>@Model["Reviews"][i].GetReview()</p>
                  </div>
                }
                </div>
              }

          </div>
          <div class="row">
            <div class="about">
              <p>This page was created by Brandon Cooper and Lawrence Eby at the Epicodus Code School in Seattle. It will store reviews, restaurants, and cuisines and is meant to show proficiency in databases.</p>
              <a href="https://larryeby.github.io/Portfolio/">Eby's Portfolio</a><br>
              <a href="https://github.com/larryeby/DerpApp">Github</a>
              <p>--</p>
              <a href="https://github.com/bcooper085/restaurant_review_database">Brandon's Github</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
</html>
