@{
    Layout="Shared/_Layout";
}

<div class="row">
  <h2>@Model["Restaurant Object"].GetName()</h2>
</div>
<div class="row">
  <h4>Cuisine:</h4>
  <h5>@Model["Cuisine Object"].GetName()</h5>
</div>
<div class="row">
  <h4>Reviews:</h4>
  @if(@Model["Review Object"].Count == 0)
  {
    <div class="row z-depth-2 tile-box-div">
    <h5>Be the first to review this restaurant!</h5>
    </div>
  }
  else
  {
    @foreach(var review in @Model["Review Object"])
    {
        <div class="row z-depth-2 tile-box-div">
          <h5>@review.GetName()</h5>
          <p>@review.GetReview()</p>
          <form action="/review/delete/@review.GetId()" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn waves-effect waves-light" type="submit">Delete</button>
          </form>
          <a class="btn waves-effect waves-light" href="/review/edit/@review.GetId()">Edit</a>
        </div>
    }
  }
</div>

<div class="row">
    <h4>Enter your review below!</h4>
    <form action="/restaurants/@Model["Restaurant Object"].GetId()/add-Review" method="post">
        <input type="text" name="reviewer" placeholder="Your Name">
        <input type="text" name="review" placeholder="Your Review" required>
        <button class="btn waves-effect waves-light" type="submit" name="button">Submit</button>
    </form>
</div>

<div class="row">
<h4>Edit Restaurant Info</h4>
  <form  action="/restaurants/@Model["Restaurant Object"].GetId()/edit" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="text" name="restaurant_name_edit" value="@Model["Restaurant Object"].GetName()"] placeholder="Edit Name" required>
    <input type="text" name="restaurant_cuisine_edit" value="@Model["Cuisine Object"].GetName()">
    <button class="btn waves-effect waves-light" type="submit" name="button">Submit Change</button>
  </form>
  <form  action="/restaurants/@Model["Restaurant Object"].GetId()/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn waves-effect waves-light" type="submit" name="button">Delete Restaurant</button>
  </form>
</div>
